In [1]:
from get_data import get_data
from preprocess_data import preprocess_data
import pandas as pd
pd.options.mode.copy_on_write = True

In [2]:
filtered_data = get_data("data/accepted_2007_to_2018q4.csv", use_cache=False)
processed_data = preprocess_data(filtered_data)

In [3]:
filtered_data.head()

,loan_status,loan_amnt,term,int_rate,purpose,fico_range_low,grade,inq_last_6mths,revol_util,delinq_2yrs,...,total_acc,annual_inc,emp_length,home_ownership,verification_status,dti,desc,credit_age,revolving_income_ratio,desc_length
1180006,Fully Paid,10.239960,36 months,7.12,debt_consolidation,715.0,A,0.0,49.6,0.0,...,40.0,11.512925,2.0,MORTGAGE,Verified,19.13,I support myself and my mother and have taken ...,232.333333,11.832000,36
1212721,Charged Off,10.126631,36 months,16.99,debt_consolidation,660.0,D,0.0,66.3,0.0,...,17.0,11.156251,1.0,RENT,Verified,10.50,Trying to pay a friend back for apartment brok...,172.466667,5.142857,20
1226216,Fully Paid,9.405084,36 months,14.99,debt_consolidation,680.0,C,1.0,49.3,1.0,...,57.0,10.657259,1.0,OWN,Verified,19.51,"Dear Lenders, I have gotten into debt by bein...",241.433333,6.352941,121
1309223,Charged Off,8.294050,36 months,17.57,medical,685.0,D,0.0,24.9,0.0,...,9.0,10.714418,3.0,RENT,Not Verified,20.16,to pay medical bill medical bill.hospital I wa...,92.300000,2.746667,29
1309250,Fully Paid,9.392662,36 months,9.67,debt_consolidation,685.0,B,0.0,52.2,0.0,...,15.0,10.645425,2.0,MORTGAGE,Not Verified,11.71,The loan is to consolidate all high interest c...,87.200000,1.828571,22

In [4]:
processed_data.head()

,loan_status,loan_amnt,int_rate,fico_range_low,inq_last_6mths,revol_util,delinq_2yrs,pub_rec,open_acc,total_acc,...,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
1180006,1,10.239960,0.0712,715.0,0.0,0.496,0.0,0.0,24.0,40.0,...,0,0,0,0,1,0,0,0,0,1
1212721,0,10.126631,0.1699,660.0,0.0,0.663,0.0,0.0,10.0,17.0,...,0,0,0,0,0,0,1,0,0,1
1226216,1,9.405084,0.1499,680.0,1.0,0.493,1.0,0.0,15.0,57.0,...,0,0,0,0,0,1,0,0,0,1
1309223,0,8.294050,0.1757,685.0,0.0,0.249,0.0,0.0,8.0,9.0,...,0,0,0,0,0,0,1,1,0,0
1309250,1,9.392662,0.0967,685.0,0.0,0.522,0.0,0.0,7.0,15.0,...,0,0,0,0,1,0,0,1,0,0

In [5]:
description_length = processed_data['desc'].str.split(" ").map(len)
description_length.groupby(processed_data['loan_status']).describe()

               count       mean        std  min   25%   50%   75%     max
loan_status
0            10355.0  57.264606  59.136401  8.0  28.0  42.0  59.0  1030.0
1            60461.0  56.944311  53.952980  7.0  28.0  43.0  60.0  1043.0

In [6]:
for status in [0, 1]:
    loan_status_0_stats = processed_data[processed_data["loan_status"] == status].describe(percentiles=[0.5])
    print(f"Loan status {'Fully paid' if status else 'Default'}")
    display(loan_status_0_stats.transpose())

Loan status Default

,count,mean,std,min,50%,max
loan_status,10355.0,0.000000,0.000000,0.000000,0.000000,0.000000
loan_amnt,10355.0,9.452904,0.647219,6.802395,9.574983,10.463103
int_rate,10355.0,0.154335,0.042453,0.054200,0.153100,0.260600
fico_range_low,10355.0,693.674553,28.283389,660.000000,685.000000,825.000000
inq_last_6mths,10355.0,0.994882,1.123129,0.000000,1.000000,8.000000
revol_util,10355.0,0.600287,0.240978,0.000000,0.633000,1.051000
delinq_2yrs,10355.0,0.222308,0.683722,0.000000,0.000000,14.000000
pub_rec,10355.0,0.097441,0.358764,0.000000,0.000000,7.000000
open_acc,10355.0,10.901980,4.779103,2.000000,10.000000,41.000000
total_acc,10355.0,23.859681,11.127699,2.000000,22.000000,70.000000
annual_inc,10355.0,10.972580,0.490247,8.699515,10.968198,13.458913
emp_length,10355.0,5.674988,3.526609,0.500000,5.000000,10.000000
dti,10355.0,17.198270,7.439718,0.000000,17.270000,34.990000
credit_age,10355.0,174.379157,79.849615,36.500000,159.333333,605.666667
revolving_income_ratio,10355.0,2.831577,3.858424,0.000000,1.440000,60.000000
desc_length,10355.0,63.597972,68.140948,20.000000,46.000000,927.000000
grade_A,10355.0,0.078223,0.268535,0.000000,0.000000,1.000000
grade_B,10355.0,0.252535,0.434487,0.000000,0.000000,1.000000
grade_C,10355.0,0.270401,0.444188,0.000000,0.000000,1.000000
grade_D,10355.0,0.202607,0.401962,0.000000,0.000000,1.000000
grade_E,10355.0,0.118493,0.323207,0.000000,0.000000,1.000000
grade_F,10355.0,0.060068,0.237624,0.000000,0.000000,1.000000
grade_G,10355.0,0.017673,0.131765,0.000000,0.000000,1.000000
term_ 36 months,10355.0,0.599614,0.490000,0.000000,1.000000,1.000000
term_ 60 months,10355.0,0.400386,0.490000,0.000000,0.000000,1.000000
purpose_car,10355.0,0.011009,0.104350,0.000000,0.000000,1.000000
purpose_credit_card,10355.0,0.159343,0.366014,0.000000,0.000000,1.000000
purpose_debt_consolidation,10355.0,0.609271,0.487937,0.000000,1.000000,1.000000
purpose_educational,10355.0,0.003670,0.060470,0.000000,0.000000,1.000000
purpose_home_improvement,10355.0,0.046837,0.211300,0.000000,0.000000,1.000000
purpose_house,10355.0,0.007533,0.086467,0.000000,0.000000,1.000000
purpose_major_purchase,10355.0,0.018059,0.133171,0.000000,0.000000,1.000000
purpose_medical,10355.0,0.009464,0.096826,0.000000,0.000000,1.000000
purpose_moving,10355.0,0.007436,0.085915,0.000000,0.000000,1.000000
purpose_other,10355.0,0.060937,0.239226,0.000000,0.000000,1.000000
purpose_renewable_energy,10355.0,0.001545,0.039280,0.000000,0.000000,1.000000
purpose_small_business,10355.0,0.050410,0.218801,0.000000,0.000000,1.000000
purpose_vacation,10355.0,0.003863,0.062035,0.000000,0.000000,1.000000
purpose_wedding,10355.0,0.010623,0.102523,0.000000,0.000000,1.000000
home_ownership_MORTGAGE,10355.0,0.458716,0.498317,0.000000,0.000000,1.000000
home_ownership_OWN,10355.0,0.075616,0.264395,0.000000,0.000000,1.000000
home_ownership_RENT,10355.0,0.465669,0.498844,0.000000,0.000000,1.000000
verification_status_Not Verified,10355.0,0.290005,0.453786,0.000000,0.000000,1.000000
verification_status_Source Verified,10355.0,0.250024,0.433048,0.000000,0.000000,1.000000
verification_status_Verified,10355.0,0.459971,0.498419,0.000000,0.000000,1.000000

Loan status Fully paid

,count,mean,std,min,50%,max
loan_status,60461.0,1.000000,0.000000,1.000000,1.000000,1.000000
loan_amnt,60461.0,9.352093,0.650679,6.214608,9.392662,10.463103
int_rate,60461.0,0.128050,0.041403,0.054200,0.124900,0.260600
fico_range_low,60461.0,705.353534,33.711213,630.000000,700.000000,845.000000
inq_last_6mths,60461.0,0.795868,1.034315,0.000000,0.000000,8.000000
revol_util,60461.0,0.546242,0.252961,0.000000,0.570000,1.139000
delinq_2yrs,60461.0,0.197417,0.627146,0.000000,0.000000,18.000000
pub_rec,60461.0,0.079952,0.329885,0.000000,0.000000,17.000000
open_acc,60461.0,10.588578,4.611960,1.000000,10.000000,53.000000
total_acc,60461.0,24.072080,11.226107,2.000000,23.000000,99.000000
annual_inc,60461.0,11.060630,0.507577,8.476371,11.050890,15.781472
emp_length,60461.0,5.525330,3.526638,0.500000,5.000000,10.000000
dti,60461.0,15.845793,7.436721,0.000000,15.640000,34.990000
credit_age,60461.0,178.085366,80.985278,36.500000,163.400000,656.466667
revolving_income_ratio,60461.0,2.933414,3.982070,0.000000,1.583214,78.433735
desc_length,60461.0,63.594449,63.144146,20.000000,47.000000,970.000000
grade_A,60461.0,0.232381,0.422354,0.000000,0.000000,1.000000
grade_B,60461.0,0.353550,0.478076,0.000000,0.000000,1.000000
grade_C,60461.0,0.221151,0.415025,0.000000,0.000000,1.000000
grade_D,60461.0,0.115347,0.319443,0.000000,0.000000,1.000000
grade_E,60461.0,0.051306,0.220623,0.000000,0.000000,1.000000
grade_F,60461.0,0.021121,0.143789,0.000000,0.000000,1.000000
grade_G,60461.0,0.005144,0.071536,0.000000,0.000000,1.000000
term_ 36 months,60461.0,0.793602,0.404722,0.000000,1.000000,1.000000
term_ 60 months,60461.0,0.206398,0.404722,0.000000,0.000000,1.000000
purpose_car,60461.0,0.018012,0.132994,0.000000,0.000000,1.000000
purpose_credit_card,60461.0,0.208878,0.406511,0.000000,0.000000,1.000000
purpose_debt_consolidation,60461.0,0.569011,0.495219,0.000000,1.000000,1.000000
purpose_educational,60461.0,0.003209,0.056555,0.000000,0.000000,1.000000
purpose_home_improvement,60461.0,0.057161,0.232152,0.000000,0.000000,1.000000
purpose_house,60461.0,0.007476,0.086140,0.000000,0.000000,1.000000
purpose_major_purchase,60461.0,0.027141,0.162497,0.000000,0.000000,1.000000
purpose_medical,60461.0,0.007972,0.088931,0.000000,0.000000,1.000000
purpose_moving,60461.0,0.008121,0.089750,0.000000,0.000000,1.000000
purpose_other,60461.0,0.049073,0.216022,0.000000,0.000000,1.000000
purpose_renewable_energy,60461.0,0.000959,0.030958,0.000000,0.000000,1.000000
purpose_small_business,60461.0,0.025239,0.156853,0.000000,0.000000,1.000000
purpose_vacation,60461.0,0.004234,0.064933,0.000000,0.000000,1.000000
purpose_wedding,60461.0,0.013513,0.115458,0.000000,0.000000,1.000000
home_ownership_MORTGAGE,60461.0,0.495063,0.499980,0.000000,0.000000,1.000000
home_ownership_OWN,60461.0,0.067200,0.250371,0.000000,0.000000,1.000000
home_ownership_RENT,60461.0,0.437737,0.496112,0.000000,0.000000,1.000000
verification_status_Not Verified,60461.0,0.377400,0.484740,0.000000,0.000000,1.000000
verification_status_Source Verified,60461.0,0.237558,0.425590,0.000000,0.000000,1.000000
verification_status_Verified,60461.0,0.385042,0.486609,0.000000,0.000000,1.000000

In [7]:
from constants import categorical_features


for feature in categorical_features:
    print(f"Feature: {feature}")
    df = pd.DataFrame(columns=["Name", "Number of loans (%)", "Default %"])
    
    for column in processed_data.columns:
        if column.startswith(feature):
            count = processed_data[column].sum()
            default_count = len(processed_data[(processed_data[column] == 1) & (processed_data['loan_status'] == 0)])
            df = pd.concat([df, pd.DataFrame({
                "Name": [column],
                "Number of loans (%)": [str(count) +"(" + str(round(count / len(processed_data) * 100,1))+ ")"],
                "Default %": [round(default_count / count * 100,1)]
            })], ignore_index=True)
    
    display(df)

Feature: grade

      Name Number of loans (%)  Default %
0  grade_A         14860(21.0)        5.5
1  grade_B         23991(33.9)       10.9
2  grade_C         16171(22.8)       17.3
3  grade_D          9072(12.8)       23.1
4  grade_E           4329(6.1)       28.3
5  grade_F           1899(2.7)       32.8
6  grade_G            494(0.7)       37.0

Feature: term

              Name Number of loans (%)  Default %
0  term_ 36 months         54191(76.5)       11.5
1  term_ 60 months         16625(23.5)       24.9

Feature: purpose

                          Name Number of loans (%)  Default %
0                  purpose_car           1203(1.7)        9.5
1          purpose_credit_card         14279(20.2)       11.6
2   purpose_debt_consolidation         40712(57.5)       15.5
3          purpose_educational            232(0.3)       16.4
4     purpose_home_improvement           3941(5.6)       12.3
5                purpose_house            530(0.7)       14.7
6       purpose_major_purchase           1828(2.6)       10.2
7              purpose_medical            580(0.8)       16.9
8               purpose_moving            568(0.8)       13.6
9                purpose_other           3598(5.1)       17.5
10    purpose_renewable_energy             74(0.1)       21.6
11      purpose_small_business           2048(2.9)       25.5
12            purpose_vacation            296(0.4)       13.5
13             purpose_wedding            927(1.3)       11.9

Feature: home_ownership

                      Name Number of loans (%)  Default %
0  home_ownership_MORTGAGE         34682(49.0)       13.7
1       home_ownership_OWN           4846(6.8)       16.2
2      home_ownership_RENT         31288(44.2)       15.4

Feature: verification_status

                                  Name Number of loans (%)  Default %
0     verification_status_Not Verified         25821(36.5)       11.6
1  verification_status_Source Verified         16952(23.9)       15.3
2         verification_status_Verified         28043(39.6)       17.0

In [12]:
num_loans_with_short_desc = len(processed_data[processed_data['desc'].str.split(" ").map(len) < 75])
print(f"Percentage of Loans with description lenght smaller than 75: {num_loans_with_short_desc / len(processed_data) * 100:.2f}%")

Percentage of Loans with description lenght smaller than 75: 82.89%